<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="~/Plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/kendoui/kendo.common.min.css" rel="stylesheet" />
    <!--<link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.common-material.min.css" rel="stylesheet" />-->
    <!--<link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.rtl.min.css" rel="stylesheet" />-->
    <!--<link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.material.min.css" rel="stylesheet" />-->
    <!--<link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.material.mobile.min.css" rel="stylesheet" />-->
    <!--<link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.dataviz.min.css" rel="stylesheet" />-->
    <!--<link href="http://cdn.kendostatic.com/2014.3.1119/styles/kendo.dataviz.material.min.css" rel="stylesheet" />-->
    
    @Styles.Render("~/CSS/kendoui/Customkendoui")
    @RenderSection("style", required: false)
    <!--[if IE]>
        <script type="text/javascript" src="/JS/html5shiv.js"></script>
        <script type="text/javascript" src="/JS/respond.min.js"></script>                
    <![endif]-->
</head>
<body>
    @RenderBody()
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/JS/kendo.all.min.js"></script>
    <script src="~/Scripts/iscroll.js"></script>
    <script src="~/JS/kendoExcelGrid.js"></script>
    <script src="~/Plugins/bootbox/bootbox.min.js"></script>
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">
        @Html.GetKStarUser()
    </script>
</body>
</html>
